html{
    font-family: Raleway;
}

body{
    background-color: #FDAAC4;
    overflow-x: hidden;
}

p{
    font-size: 18px;
    text-align: justify center;
}

h2{
    color: #E3007F;
}

.header{
    text-align: center;
    margin: auto;
    background-color: #ff69b4;
}

.header_logo{
    width: 4em;
    height: 3.5em;
}

#hamburguer{
    background-color: #ff69b4;
    color: #e9e3e3;
    display: block;
    text-align: center;
    padding: 0.3em;
    cursor: pointer;
    font-size: 2em;
}

.header_nav{
    background-color: #ff69b4;
    display: none;
}

.header_nav.show {
    display: block;
}


ul{
    margin: 0;
}

.header_nav ul{
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .8em;
}

.header_nav a{
    color: #e9e3e3;
    text-decoration: none;
    display: block;
    padding: 1em;
}

.header_nav a:hover{
    background-color: #E3007F;
    color: #D4FFF5;
}

@media screen and (min-width: 48em){

    #hamburguer{
        display: none;
    }

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ff69b4;
    }


    .header_logo{
        margin-left: 2em;
    }


    .header_nav{
        display: block;
    }


    .header_nav ul{
        margin-right: 2em;
        font-size: .9em;
    }


    .header_nav li{
        display: inline-block;
    }


    .header_nav a{
        border-radius: 5px;
    }


    .header_nav a:hover{
        background-color: #E3007F;
        color: #D4FFF5;
    }

}

.img{
    background-image: url("imagens/Geometric_background.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.sessao {
    margin: 20px 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.4); /* Fundo branco para seções */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: auto;
    text-align: center;
}

.padding{
    padding: 20px;
}

footer{
    background-color: #ff69b4;
    padding: 1em;
    text-align: center;
}

.logos_footer{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.tamanho{
    width: 2.5em;
}

.texto_footer{
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin:0;
    padding-top: .8rem;
    color: #0D0D0D;
}

.bem-vindo1{
    text-align: center;
    margin: 0;
    color: #db067f;
}
.bem-vindo2{
    text-align: center;
    margin: 0;
    color: #db067f;
}





.grid-container{
    display: flex;
    padding: 0.5em;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.dentro-grid{
    padding: 1em;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction:column;
}

.p-grid{
    max-width: 12em;
    text-align: center;
    font-size: 16px;
}

.img-grid{
    max-width: 17em;
    border-radius: 10px;
}

iframe{
    align-items: center;
    border-radius: 10px;
}

@media screen and (min-width: 36em){/*768px maior que */

    .logos_footer{
        flex-direction: row;
        justify-content: center;
        gap:1.5em;
    }
    

}